<h1>Angular2-Material</h1>
<h2>Input Basic Usage</h2>

<div layout="column" class="md-inline-form">
    <form>
        <md-input class="demo-full-width" placeholder="Company (disabled)" disabled>Google</md-input>

        <table style="width: 100%" cellspacing="0">
            <tr>
                <td>
                    <md-input placeholder="First name" style="width: 100%"></md-input>
                </td>
                <td>
                    <md-input placeholder="Really Super Long Last Name Placeholder That Will Be Truncated" style="width: 100%"></md-input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <md-input class="demo-full-width" placeholder="Address"></md-input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <md-input class="demo-full-width" placeholder="Address 2"></md-input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <md-input class="demo-full-width" placeholder="City"></md-input>
                            </td>
                            <td>
                                <md-input class="demo-full-width" placeholder="State"></md-input>
                            </td>
                            <td>
                                <md-input class="demo-full-width" placeholder="Country"></md-input>
                            </td>
                            <td>
                                <md-input class="demo-full-width" placeholder="Postal Code" maxLength="5"></md-input>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>



</div>

<h2>Button Basic Usage</h2>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <button md-button>Simple Button</button>
    <button md-raised-button class="md-raised">Button</button>
    <button md-raised-button class="md-raised md-primary">Primary</button>
</section>


<h2>Radio Button Basic Usage</h2>

<form>
    <p>Choose a fruit</p>
    <md-radio-group>
        <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
        <md-radio-button value="Banana" checked="true">Banana</md-radio-button>
        <md-radio-button value="Mango" class="md-warn">Mango</md-radio-button>
    </md-radio-group>
</form>


<h2>Card Action Basic Usage</h2>

<!--<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                Action Button
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>-->